--- 

- name: Kill all processes owned by dd-agent
  ansible.builtin.command:
    cmd: pkill -u dd-agent
  ignore_errors: yes

- name: Stop datadog-agent service
  ansible.builtin.service:
    name: datadog-agent
    state: stopped
    enabled: no

- name: Remove datadog-agent package
  ansible.builtin.apt:
    name: datadog-agent
    state: absent
    purge: yes

- name: Remove datadog-agent user and home directory
  ansible.builtin.user:
    name: dd-agent
    state: absent
    remove: yes
    force: yes

- name: Remove datadog-agent directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - /opt/datadog-agent
    - /etc/datadog-agent
    - /var/log/datadog