---
- name: Upload_github_gpg_key
  ansible.builtin.copy:
    src: githubcli-archive-keyring.gpg
    dest: /etc/apt/trusted.gpg.d/githubcli-archive-keyring.gpg
    owner: root
    group: root
    mode: "0644"
  tags:
    - githubcli

- name: Get_deb_architecture
  ansible.builtin.shell: dpkg --print-architecture
  register: deb_architecture
  tags:
    - githubcli

- name: Remove_old_sources_list_entry
  ansible.builtin.file:
    path: /etc/apt/sources.list.d/cli_github_com_packages.list
    state: absent
  tags:
    - githubcli
    - package-sources

- name: Add_specified_repository_into_sources_list
  ansible.builtin.deb822_repository:
    name: github-cli
    types: [deb]
    uris: https://cli.github.com/packages
    suites: [stable]
    components: [main]
    architectures: ["{{ deb_architecture.stdout }}"]
    signed_by: /etc/apt/trusted.gpg.d/githubcli-archive-keyring.gpg
    state: present
  tags:
    - githubcli
    - package-sources
  notify:
    - Apt Cache Update

- name: Install_gh
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
    update_cache: true
    cache_valid_time: 21600
  loop:
    - gh
  tags:
    - githubcli
