---
- name: AWS Roles
  hosts: all:!localactions
  handlers:
    - name: Import global handlers
      ansible.builtin.import_tasks: roles/global_things/handlers/main.yml
  roles:
    - name: aws_profiles
      role: aws_profiles
      become: false
      connection: local
      tags: aws
      run_once: true
    - name: firth_dns
      role: firth_dns
      become: false
      connection: local
      tags: route53
      run_once: true
    - role: aws_pdforums
      become: false
      connection: local
      tags: aws
      run_once: true

- name: Actions on all hosts
  hosts: all:!localactions
  handlers:
    - name: Import global handlers
      ansible.builtin.import_tasks: roles/global_things/handlers/main.yml
  become: true
  roles:
    - water_gkhs_common
    - water_gkhs_listchanges
    - water_gkhs_update
    - water_gkhs_network
    - water_gkhs_users
    - { role: water_gkhs_web_errors, tags: nginx }

- name: Actions on all non-local hosts
  hosts: all:!localactions
  handlers:
    - name: Import global handlers
      ansible.builtin.import_tasks: roles/global_things/handlers/main.yml
  become: true
  roles:
    - { role: water_gkhs_mysql_backup, tags: mysql }

- name: Actions on all hosts running NGINX
  hosts: nginx_hosts
  handlers:
    - name: Import global handlers
      ansible.builtin.import_tasks: roles/global_things/handlers/main.yml
  become: true
  roles:
    - { role: water_gkhs_nginx, tags: nginx }

- name: Hello Firth
  hosts: firth
  handlers:
    - name: Import global handlers
      ansible.builtin.import_tasks: roles/global_things/handlers/main.yml
  become: true
  roles:
    - firth_packages
    - water_gkhs_php
    - firth_users
    - firth_docker
    - plexupdate_uninstall
    - { role: firth_nginx, tags: nginx }
    - water_gkhs_filebot
    - water_gkhs_flexget
    - water_gkhs_exim
    - b2_backup
    - github_cli
    - jellyfin
    - getmail
    - firth_sftp_docker

- name: Hello Firth & Cenote
  hosts: firth:cenote
  become: true
  roles:
    - water_gkhs_dovecot

- name: Hello Atoll
  hosts: atoll
  handlers:
    - name: Import global handlers
      ansible.builtin.import_tasks: roles/global_things/handlers/main.yml
  become: true
  roles:
    - github_cli
    - water_gkhs_nginx
    - atoll_nginx
    - water_gkhs_exim
    - aws_profiles
    - water_gkhs_php
    - geerlingguy.nodejs
    - firth_docker
    - stream_delta
