---
- name: AWS Roles
  hosts: all:!localactions
  handlers:
    - name: Import global handlers
      ansible.builtin.import_tasks: roles/global_things/handlers/main.yml
  roles:
    - name: aws-profiles
      role: aws-profiles
      become: false
      connection: local
      tags: aws
      run_once: true
    - name: firth-dns
      role: firth-dns
      become: false
      connection: local
      tags: route53
      run_once: true
    - role: aws-pdforums
      become: false
      connection: local
      tags: aws
      run_once: true

- name: Actions on all hosts
  hosts: all:!localactions
  handlers:
    - name: Import global handlers
      ansible.builtin.import_tasks: roles/global_things/handlers/main.yml
  become: true
  roles:
    - water-gkhs-common
    - water-gkhs-listchanges
    - water-gkhs-update
    - water-gkhs-network
    - water-gkhs-users
    - { role: water-gkhs-web-errors, tags: nginx }
    - { role: remove-papertrail, tags: papertrail }

- name: Import the Datadog Agent role
  hosts: all:!localactions
  become: true
  tasks:
    - name: Import the Datadog Agent role from the Datadog collection
      ansible.builtin.import_role:
        name: datadog.dd.agent
  vars:
    datadog_site: "datadoghq.eu"
    datadog_apm_instrumentation_enabled: "host"
    datadog_apm_instrumentation_libraries:
      # - "java:1"
      - "python:3"
      - "js:5"
      - "php:1"
      - "dotnet:3"
    datadog_remote_updates: true
  tags: datadog

- name: Actions on all non-local hosts
  hosts: all:!localactions
  handlers:
    - name: Import global handlers
      ansible.builtin.import_tasks: roles/global_things/handlers/main.yml
  become: true
  roles:
    - { role: water-gkhs-mysql-backup, tags: mysql }

- name: Actions on all hosts running NGINX
  hosts: nginx_hosts
  handlers:
    - name: Import global handlers
      ansible.builtin.import_tasks: roles/global_things/handlers/main.yml
  become: true
  roles:
    - { role: water-gkhs-nginx, tags: nginx }

- name: Hello Firth
  hosts: firth
  handlers:
    - name: Import global handlers
      ansible.builtin.import_tasks: roles/global_things/handlers/main.yml
  become: true
  roles:
    - firth-packages
    - firth-users
    - firth-docker
    - plexupdate-uninstall
    - { role: firth-nginx, tags: nginx }
    - water-gkhs-filebot
    - water-gkhs-flexget
    - water-gkhs-exim
    - b2-backup
    - github-cli
    - jellyfin
    - getmail
    - firth-sftp-docker

- name: Hello Firth & Cenote
  hosts: firth:cenote
  become: true
  roles:
    - water-gkhs-dovecot

- name: Hello Atoll
  hosts: atoll
  handlers:
    - name: Import global handlers
      ansible.builtin.import_tasks: roles/global_things/handlers/main.yml
  become: true
  roles:
    - github-cli
    - water-gkhs-nginx
    - atoll-nginx
    - water-gkhs-exim
    - aws-profiles
    - stream-delta
