---
- name: Stream-Delta DNS setup
  tags:
    - stream_delta
    - aws
  block:
    - name: Voyeur.istic.net - A
      amazon.aws.route53:
        overwrite: true
        command: present
        zone: istic.net
        record: voyeur.istic.net.
        type: A
        ttl: "300"
        value: "{{ atoll_ip }}"
        aws_profile: istic
      tags:
        - istic_net

    - name: Ws.voyeur.istic.net - A
      amazon.aws.route53:
        overwrite: true
        command: present
        zone: istic.net
        record: ws.voyeur.istic.net.
        type: A
        ttl: "300"
        value: "{{ atoll_ip }}"
        aws_profile: istic
      tags:
        - istic_net
  rescue:
    - name: "Failure warning"
      ansible.builtin.debug:
        msg: "AWS tasks failed"
    - name: "Failure execution"
      ansible.builtin.command:
        cmd: "false"

- name: Ensure Github is present in known_host
  tags:
    - stream_delta
  block:
    - name: Ensure jq and curl are present
      ansible.builtin.package:
        name:
          - jq
          - curl
        state: present
      become: true
    - name: Fetch github hostkeys
      ansible.builtin.shell: >
        set -o pipefail && curl --silent {{ add_github_hostkeys_api_endpoint }} | jq --raw-output '"github.com "+.ssh_keys[]'
      changed_when: false
      args:
        executable: /bin/bash
      check_mode: false
      register: stream_delta_fetched_github_hostkeys

    - name: Add github hostkeys to stream-delta known_hosts
      ansible.builtin.known_hosts:
        name: github.com
        key: "{{ known_host }}"
        state: present
        path: "{{ stream_delta_home }}/.ssh/known_hosts"
      loop: "{{ stream_delta_fetched_github_hostkeys.stdout_lines }}"
      loop_control:
        loop_var: known_host
      become: true
      become_user: stream-delta
  rescue:
    - name: "Failure warning"
      ansible.builtin.debug:
        msg: "AWS tasks failed"
    - name: "Failure execution"
      ansible.builtin.command:
        cmd: "false"

- name: Package dependencies installation
  tags:
    - stream_delta
    - dependencies
  block:
    - name: Install stream-delta dependencies
      ansible.builtin.package:
        name: "{{ item }}"
        state: present
      loop:
        - supervisor
        - composer
        - git
        - php-cli
        - php-xml
        - php-redis
        - mariadb-server
        - redis-server
        - npm
        - python3-pymysql
  rescue:
    - name: "Package installation failure warning"
      ansible.builtin.debug:
        msg: "Package dependencies installation failed"
    - name: "Package installation failure execution"
      ansible.builtin.command:
        cmd: "false"

- name: User and directory setup
  tags:
    - stream_delta
    - stream_delta_user
    - user
  block:
    - name: Create stream-delta user
      ansible.builtin.user:
        name: stream-delta
        shell: /bin/bash
        home: "{{ stream_delta_home }}"
        system: true

    - name: Make stream-delta user a member of www-data group
      ansible.builtin.user:
        name: stream-delta
        groups: www-data
        append: true

    - name: Create stream-delta ssh key directory
      ansible.builtin.file:
        path: "{{ stream_delta_home }}/.ssh"
        state: directory
        owner: stream-delta
        group: stream-delta
        mode: "0700"

    - name: Copy stream-delta deploy key - private
      ansible.builtin.copy:
        src: files/keys/stream-delta-deploy
        dest: "{{ stream_delta_home }}/.ssh/deploy_key"
        owner: stream-delta
        group: stream-delta
        mode: "0600"

    - name: Copy stream-delta deploy key - public
      ansible.builtin.copy:
        src: files/keys/stream-delta-deploy.pub
        dest: "{{ stream_delta_home }}/.ssh/deploy_key.pub"
        owner: stream-delta
        group: stream-delta
        mode: "0600"

    - name: Allow deploy key to log in to atoll
      ansible.builtin.lineinfile:
        path: "{{ stream_delta_home }}/.ssh/authorized_keys"
        line: "{{ lookup('ansible.builtin.file', 'files/keys/stream-delta-deploy.pub') }}"
        create: true
        owner: stream-delta
        group: stream-delta
        mode: "0600"

    - name: Make sure stream-delta install dir exists
      ansible.builtin.file:
        path: "{{ stream_delta_install_dir }}"
        state: directory
        owner: stream-delta
        group: www-data
        mode: "0755"

    - name: Change ownership of stream-delta directory
      ansible.builtin.file:
        path: "{{ stream_delta_install_dir }}" # this should be as same as `dest` above
        owner: stream-delta
        group: www-data
        state: directory
        recurse: true
  rescue:
    - name: "User and directory setup failure warning"
      ansible.builtin.debug:
        msg: "User and directory setup failed"
    - name: "User and directory setup failure execution"
      ansible.builtin.command:
        cmd: "false"

- name: Database configuration
  tags:
    - stream_delta
    - mysql
  block:
    - name: Create stream-delta database
      community.mysql.mysql_db:
        name: stream_delta
        state: present
        login_user: root
        login_password: "{{ mysql_root_password }}"

    - name: Create stream-delta database user
      community.mysql.mysql_user:
        name: stream_delta
        password: "{{ stream_delta_db_password }}"
        priv: stream_delta.*:ALL
        host: localhost
        state: present
        login_user: root
        login_password: "{{ mysql_root_password }}"
        column_case_sensitive: true
  rescue:
    - name: "Database configuration failure warning"
      ansible.builtin.debug:
        msg: "Database configuration failed"
    - name: "Database configuration failure execution"
      ansible.builtin.command:
        cmd: "false"

- name: Install tubular container
  tags:
    - stream_delta
    - tubular
  block:
    - name: Pull tubular image from GitHub Container Registry
      community.docker.docker_image:
        name: ghcr.io/aquarion/tubular
        tag: "{{ stream_delta_tubular_version }}"
        source: pull
      register: tubular_image_pull_result
      changed_when: tubular_image_pull_result.changed

    - name: Delete .env file for tubular
      ansible.builtin.file:
        path: "/opt/tubular/.env"
        state: absent

    - name: delete tubular configuration directory
      ansible.builtin.file:
        path: "/opt/tubular"
        state: absent

    - name: Run tubular container
      community.docker.docker_container:
        name: tubular
        image: ghcr.io/aquarion/tubular:{{ stream_delta_tubular_version }}
        state: started
        restart_policy: unless-stopped
        # Required tubular env vars:
        # - YOUTUBE_API_KEY
        # - YOUTUBE_CHANNEL_ID
        # - TUBULAR_WEBHOOK_URL
        # - TUBULAR_CALLBACK_URL
        # Optional tubular env vars:
        # - WEBHOOK_SECRET
        # - YOUTUBE_POLL_INTERVAL
        # - YOUTUBE_DISABLE_IDLE_POLLING
        # - TUBULAR_CALLBACK_PORT
        # - CALLBACK_BIND_ADDRESS
        # - REDIS_HOST
        # - REDIS_PORT
        # - REDIS_PASSWORD
        # - REDIS_DB
        # - TUBULAR_HEARTBEAT_INTERVAL
        # - TUBULAR_LOG_FILE
        # - TUBULAR_LOG_MAX_BYTES
        # - TUBULAR_LOG_BACKUP_COUNT
        # - TUBULAR_LOG_RETENTION_DAYS

        # YOUTUBE_API_KEY=X
        # YOUTUBE_CHANNEL_ID=X
        # TUBULAR_WEBHOOK_URL=${APP_URL}/webhooks/youtube
        # TUBULAR_CALLBACK_URL=${APP_URL}
        # TUBULAR_CALLBACK_PORT=9191

        env:
          YOUTUBE_API_KEY: "{{ stream_delta_youtube_api_key }}"
          YOUTUBE_CHANNEL_ID: "{{ stream_delta_youtube_channel_id }}"
          YOUTUBE_DISABLE_IDLE_POLLING: "{{ stream_delta_youtube_disable_idle_polling | default('false') }}"
          TUBULAR_CALLBACK_PORT: "{{ stream_delta_tubular_port }}"
          WEBHOOK_SECRET: "{{ stream_delta_webhook_secret }}"
          # YOUTUBE_POLL_INTERVAL: "{{ stream_delta_youtube_poll_interval | default('60') }}"
          TUBULAR_CALLBACK_URL: "{{ stream_delta_app_url }}/tubular/callback"
          TUBULAR_WEBHOOK_URL: "{{ stream_delta_app_url }}/webhooks/youtube"
          # CALLBACK_BIND_ADDRESS: "{{ stream_delta_tubular_bind_address | default('') }}"
          REDIS_USERNAME: "{{ stream_delta_tubular_redis_username }}"
          REDIS_HOST: "{{ stream_delta_tubular_redis_host }}"
          REDIS_PORT: "{{ stream_delta_tubular_redis_port }}"
          REDIS_PASSWORD: "{{ stream_delta_tubular_redis_password }}"
          # REDIS_DB: "{{ stream_delta_tubular_redis_db | default('0') }}"
          # TUBULAR_HEARTBEAT_INTERVAL: "{{ stream_delta_tubular_heartbeat_interval | default('30') }}"
          # TUBULAR_LOG_FILE: "{{ stream_delta_tubular_log_file | default('') }}"
          # TUBULAR_LOG_MAX_BYTES: "{{ stream_delta_tubular_log_max_bytes | default('10485760') }}"
          # TUBULAR_LOG_BACKUP_COUNT: "{{ stream_delta_tubular_log_backup_count | default('5') }}"
          # TUBULAR_LOG_RETENTION_DAYS: "{{ stream_delta_tubular_log_retention_days | default('7') }}"
        published_ports:
          - "{{ stream_delta_tubular_port }}:{{ stream_delta_tubular_port }}"
        pull: always

  rescue:
    - name: "Tubular installation failure warning"
      ansible.builtin.debug:
        msg: "Tubular installation failed"

# - name: Install Tubular
#   tags:
#     - stream_delta
#     - tubular
#   block:
#     - name: Pull tubular repo from github
#       ansible.builtin.git:
#         repo: "https://github.com/aquarion/tubular.git"
#         dest: "/opt/tubular"
#         refspec: "tags/v{{ stream_delta_tubular_version }}"
#         depth: 1
#         force: true
#         accept_hostkey: true
#     - name: Set up virtualenv for tubular
#       ansible.builtin.command:
#         cmd: "python3 -m venv /opt/tubular/venv"
#         creates: "/opt/tubular/venv/bin/activate"
#     - name: Install tubular dependencies
#       ansible.builtin.pip:
#         requirements: "/opt/tubular/requirements.txt"
#         virtualenv: "/opt/tubular/venv"
#     - name: Create .env file for tubular
#       ansible.builtin.template:
#         src: templates/production.env.j2
#         dest: "/opt/tubular/.env"
#         mode: "0644"
#     - name: Set up systemd service for tubular
#       ansible.builtin.template:
#         src: templates/tubular/tubular.service.j2
#         dest: /etc/systemd/system/tubular.service
#         mode: "0644"
#       notify:
#         - Reload systemd
#   notify:
#     - Restart tubular
#   rescue:
#     - name: "Tubular installation failure warning"
#       ansible.builtin.debug:
#         msg: "Tubular installation failed"

- name: Service configuration
  tags:
    - stream_delta
    - services
  block:
    - name: Configure supervisord for stream-delta
      ansible.builtin.template:
        src: templates/supervisord/stream-delta.conf.j2
        dest: /etc/supervisor/conf.d/stream-delta.conf
        mode: "0644"
      notify:
        - Restart supervisor
      tags:
        - supervisord
        - stream_delta_supervisord

    - name: Allow supervisord to restart supervisor without password
      # community.general.sudoers:
      #   name: "stream-delta"
      #   state: present
      #   commands:
      #     - /bin/systemctl restart supervisor
      #   nopassword: true
      ansible.builtin.lineinfile:
        path: /etc/sudoers.d/stream-delta
        create: true
        line: "stream-delta ALL=(ALL) NOPASSWD: /usr/bin/supervisorctl restart all"
        state: present
        validate: "visudo -cf %s"
        owner: root
        group: root
        mode: "0440"
      tags:
        - supervisord
        - stream_delta_supervisord

    - name: Configure Redis streamdelta user password
      ansible.builtin.lineinfile:
        path: /etc/redis/users.acl
        line: user {{ stream_delta_redis_username }} on +@all -DEBUG ~* >{{ stream_delta_redis_password }}
        regex: ^user {{ stream_delta_redis_username }}
      notify:
        - Reload Redis ACL
      tags:
        - redis
  rescue:
    - name: "Service configuration failure warning"
      ansible.builtin.debug:
        msg: "Service configuration failed"
    - name: "Service configuration failure execution"
      ansible.builtin.command:
        cmd: "false"

- name: Github repository configuration
  tags:
    - stream_delta
    - stream_delta_github
  block:
    - name: Get list of repository variables
      ansible.builtin.uri:
        url: "https://api.github.com/repos/aquarion/stream-delta/actions/variables?per_page=30"
        method: GET
        headers:
          Accept: "application/vnd.github.v3+json"
          Authorization: "Bearer {{ streamdelta_github_token }}"
          X-GitHub-Api-Version: "2022-11-28"
        return_content: true
      register: stream_delta_github_variables
      changed_when: false

    - name: Set variables list as fact for cleaner code
      ansible.builtin.set_fact:
        stream_delta_vars: "{{ stream_delta_github_variables.json.variables | map(attribute='name') | list }}"

    - name: Add variables to github actions workflow
      ansible.builtin.uri:
        url: "https://api.github.com/repos/aquarion/stream-delta/actions/variables{{ ('/' + item.name) if item.name in stream_delta_vars else '' }}"

        method: "{{ 'PATCH' if item.name in stream_delta_vars else 'POST' }}"
        headers:
          Authorization: "Bearer {{ streamdelta_github_token }}"
          Accept: "application/vnd.github.v3+json"
          X-GitHub-Api-Version: "2022-11-28"
        body:
          name: "{{ item.name }}"
          value: "{{ item.value | string }}"
        body_format: json
        status_code: 200,201,204
      register: stream_delta_response
      changed_when: stream_delta_response.status == 201
      loop: "{{ stream_delta_github_variables }}"

    - name: Get github public key for stream-delta repository
      ansible.builtin.uri:
        url: "https://api.github.com/repos/aquarion/stream-delta/actions/secrets/public-key"
        method: GET
        headers:
          Accept: "application/vnd.github.v3+json"
          Authorization: "Bearer {{ streamdelta_github_token }}"
          X-GitHub-Api-Version: "2022-11-28"
        return_content: true
      register: stream_delta_github_public_key
      changed_when: false

    - name: Add secrets to stream-delta github repository

      ansible.builtin.uri:
        url: "https://api.github.com/repos/aquarion/stream-delta/actions/secrets/{{ item.name }}"
        method: PUT
        headers:
          Authorization: "Bearer {{ streamdelta_github_token }}"
          Accept: "application/vnd.github.v3+json"
          X-GitHub-Api-Version: "2022-11-28"
        body:
          encrypted_value: "{{ item.value | encrypt_secret(stream_delta_github_public_key.json.key) }}"
          key_id: "{{ stream_delta_github_public_key.json.key_id }}"
        body_format: json
        status_code: 200,201,204
      register: stream_delta_secrets_response
      changed_when: stream_delta_secrets_response.status == 201
      no_log: true
      loop: "{{ stream_delta_github_secrets }}"

  # - name: Trigger github action to deploy stream-delta
  #   ansible.builtin.uri:
  #     url: "https://api.github.com/repos/aquarion/stream-delta/actions/workflows/stream-delta-deploy.yml/dispatches"
  #     method: POST
  #     headers:
  #       Authorization: "Bearer {{ streamdelta_github_token }}"
  #       Accept: "application/vnd.github.v3+json"
  #     body: '{"ref":"main"}'
  #     body_format: json
  rescue:
    - name: "Github repository configuration failure warning"
      ansible.builtin.debug:
        msg: "Github repository configuration failed"
    - name: "Github repository configuration failure execution"
      ansible.builtin.command:
        cmd: "false"
