# {{ ansible_managed }}
server {
    listen 80;
    listen [::]:80;
    server_name {{ firth_novelathon_staging_server_name }};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl proxy_protocol;
    listen [::]:443 ssl proxy_protocol;
    server_name {{ firth_novelathon_staging_server_name }};

    include /etc/nginx/snippets/errors.conf;
    include /etc/nginx/snippets/ssl/istic_dev_ssl.conf;

    error_log  /var/log/nginx/novelathon-staging.error.log;
    access_log /var/log/nginx/novelathon-staging.access.log;

    add_header X-WhyAmI novelathon-staging;

    location /build/ {
        alias {{ docker_root }}/novelathon-staging/public/build/;
        expires max;
        add_header Cache-Control "public, immutable";
    }

    location / {
        fastcgi_pass 127.0.0.1:{{ firth_novelathon_staging_fpm_port }};
        fastcgi_param SCRIPT_FILENAME /var/www/html/public/index.php;
        fastcgi_param QUERY_STRING $query_string;
        include fastcgi_params;
    }
}
