# {{ ansible_managed }}
{{ media_home }}/Logs/*.log {
    weekly
    rotate 4
    compress

    delaycompress
    missingok
}

{{ media_home }}/.filebot/logs/*.log {
    weekly
    rotate 4
    compress

    delaycompress
    missingok
}
