#!/bin/bash

exec 9>/var/lock/media-backup
if ! flock -n 9  ; then
 echo "B2 media backup is still running";
 exit 1
fi

export PATH=$PATH:/usr/local/bin
time b2 sync --delete --replaceNewer {{ plex_home }}/Media b2://millpond-media