---
# tasks file for roles/firth-sftp-docker

- name: Setup SFTP Docker users and groups
  tags:
    - sftp
    - docker

  block:
    - name: Create SFTP Docker user
      ansible.builtin.user:
        name: "{{ sftp_docker_user | default('sftp_docker') }}"
        system: true
        create_home: false
        shell: /sbin/nologin
        state: present

    - name: Create SFTP Docker group
      ansible.builtin.group:
        name: "{{ sftp_docker_group | default('sftp_docker') }}"
        system: true
        state: present

  notify: restart sftp docker

  rescue:
    - name: Debug failure to create SFTP Docker user/group
      ansible.builtin.debug:
        msg: "Failed to create SFTP Docker user or group."

- name: Setup SFTP Docker directories
  tags:
    - sftp
    - docker
  block:
    - name: Create necessary directories
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        owner: '{{ sftp_docker_user | default("sftp_docker") }}'
        group: '{{ sftp_docker_group | default("sftp_docker") }}'
        mode: "0755"
      loop:
        - "{{ docker_root }}/sftp"
        - "{{ docker_root }}/sftp/etc"
        - "{{ docker_root }}/sftp/keys"
        - "{{ docker_root }}/sftp/bin"

    - name: Create user directories in SFTP Docker home
      ansible.builtin.file:
        path: "{{ docker_root }}/sftp/home/{{ item.name }}"
        state: directory
        owner: '{{ sftp_docker_user | default("sftp_docker") }}'
        group: '{{ sftp_docker_group | default("sftp_docker") }}'
        mode: "0755"
      no_log: true # Prevent logging sensitive info
      loop: "{{ sftp_users | default([]) }}"

    - name: Create SSH Key directories for SFTP Docker users
      ansible.builtin.file:
        path: "{{ docker_root }}/sftp/home/{{ item.name }}/.ssh"
        state: directory
        owner: '{{ sftp_docker_user | default("sftp_docker") }}'
        group: '{{ sftp_docker_group | default("sftp_docker") }}'
        mode: "0700"
      no_log: true # Prevent logging sensitive info
      loop: "{{ sftp_users | default([]) }}"

  notify: restart sftp docker

  rescue:
    - name: Debug failure to create SFTP Docker directories
      ansible.builtin.debug:
        msg: "Failed to create necessary SFTP Docker directories."

- name: Setup SSH configuration
  tags:
    - sftp
    - docker
  block:
    - name: Check for existing SSH host keys
      ansible.builtin.stat:
        path: "{{ docker_root }}/sftp/keys/ssh_host_rsa_key"
      register: ssh_host_key

    - name: Generate SSH host keys if they do not exist
      ansible.builtin.command: ssh-keygen -A
      args:
        creates: "{{ docker_root }}/sftp/keys/ssh_host_rsa_key"
      become: true
      become_user: '{{ sftp_docker_user | default("sftp_docker") }}'
      environment:
        SSH_KEYGEN_OUTPUT_DIR: "{{ docker_root }}/sftp/keys"
      register: ssh_keygen_result
      changed_when: ssh_keygen_result.rc == 0
      when: not ssh_host_key.stat.exists

    - name: Copy SSH public keys for SFTP Docker users
      ansible.builtin.copy:
        content: "{{ item.ssh_key }}"
        dest: "{{ docker_root }}/sftp/home/{{ path_item | splitext | basename }}/.ssh/authorized_keys"
        owner: '{{ sftp_docker_user | default("sftp_docker") }}'
        group: '{{ sftp_docker_group | default("sftp_docker") }}'
        mode: "0600"
      with_fileglob:
        - "files/user_keys.d/*.pub"
      loop_control:
        loop_var: path_item

  notify: restart sftp docker

  rescue:
    - name: Debug failure to setup SSH configuration
      ansible.builtin.debug:
        msg: "Failed to setup SSH configuration for SFTP Docker."

- name: Setup SFTP Docker configuration
  tags:
    - sftp
    - docker
  block:
    - name: Template bind_mounts.sh for SFTP Docker container
      ansible.builtin.template:
        src: bind_mounts.sh.j2
        dest: "{{ docker_root }}/sftp/bin/bind_mounts.sh"
        owner: "{{ sftp_docker_user }}"
        group: "{{ sftp_docker_group }}"
        mode: "0755"

    - name: Template users.conf for SFTP Docker container
      ansible.builtin.template:
        src: users.conf.j2
        dest: "{{ docker_root }}/sftp/etc/users.conf"
        owner: "{{ sftp_docker_user }}"
        group: "{{ sftp_docker_group }}"
        mode: "0644"

    - name: Template docker-compose.yml for SFTP Docker container
      ansible.builtin.template:
        src: docker-compose.j2.yml
        dest: "{{ docker_root }}/sftp/docker-compose.yml"
        owner: "{{ sftp_docker_user }}"
        group: "{{ sftp_docker_group }}"
        mode: "0644"

  notify: restart sftp docker

  rescue:
    - name: Debug failure to setup SFTP Docker configuration
      ansible.builtin.debug:
        msg: "Failed to create necessary SFTP Docker configuration files."
