[Unit]
Description=Retort
Requires=retort.socket
After=network.target

[Service]
PIDFile={{ retort_install_location }}/service/pid
User={{ retort_run_user }}
Group={{ retort_run_group }}
WorkingDirectory={{ retort_install_location }}/code
Environment=VIRTUAL_ENV="{{ retort_install_location }}/venv"
Environment=PATH="$VIRTUAL_ENV/bin:$PATH"
ExecStart={{ retort_install_location }}/venv/bin/gunicorn --pid {{ retort_install_location }}/service/pid webapp:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
