# {{ ansible_managed }}
[client]
host={{ firth_sftp_docker_db_host }}
port={{ firth_sftp_docker_db_port }}
user={{ firth_sftp_docker_db_user }}
password={{ firth_sftp_docker_db_password }}
database={{ firth_sftp_docker_db_name }}
