# {{ ansible_managed }}
# MAKE A C-C-Change!
MAIN_TLS_ENABLE = yes
MAIN_TLS_CERTKEY = /etc/letsencrypt/live/{{ cert_id }}/fullchain.pem
MAIN_TLS_PRIVATEKEY = /etc/letsencrypt/live/{{ cert_id }}/privkey.pem
