{{ plex_home}}/Logs/*.log {
    weekly
    rotate 4
    compress

    delaycompress
    missingok
}

{{ plex_home}}/.filebot/logs/*.log {
    weekly
    rotate 4
    compress

    delaycompress
    missingok
}