[Unit]
Description=Gunicorn instance to serve Orion
After=network.target

[Service]
User={{ orion_user }}
Group=www-data
WorkingDirectory={{ orion_home }}/server
Environment="PATH={{ orion_home }}/server/venv/bin"
ExecStart={{ orion_home }}/server/venv/bin/gunicorn --workers 3 --bind unix:orion.sock -m 007 orion.server:app

[Install]
WantedBy=multi-user.target