server {
    listen 443 ssl;
  listen [::]:443 ssl;
    server_name {{ orion_domain }};
    include /etc/nginx/snippets/letsencrypt.conf;

    location /api {
        include proxy_params;
        proxy_pass http://unix:{{ orion_home }}/server/orion.sock;
    }
  include /etc/nginx/snippets/errors.conf;
}

upstream container-jenkins { server 127.0.0.1:6081; }
server {

  listen      80;
  listen [::]:80;
  server_name  {{ orion_domain }};
  return 301 https://$host$request_uri;
  include /etc/nginx/snippets/errors.conf;
}
